@import "./animations.css";
@import "./burger.css";
@import "./normalize.css";

/* ---------- FONTS */

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap");

/* ---------- VARIABLES */

:root {
	--bg-main-colored: #3333cc;
	--color-react: #61dafb;
	--color-discord: #7289da;
	--color-grey: #414141;
	--padding-around: 20px;
}

/* ---------- GENERAL */

.padding-main {
	padding: 90px var(--padding-around) 100px;
}

/* ---------- BACKGROUNDS */

.bg-main {
	background-color: var(--bg-main-colored);
	color: whitesmoke;
}

.bg-discord {
	background-color: var(--color-discord);
	width: fit-content;
	border-radius: 4px;
}

/* ---------- DISPLAYS */

/* flex --- */
.disp-flex {
	display: flex;
	align-items: center;
}

.disp-col {
	flex-direction: column;
}

.disp-centered {
	justify-content: center;
}

.text-centered {
	text-align: center;
}

/* grid --- */
.disp-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 60px;
}

.disp-grid .col {
	padding: 0;
}

.disp-grid .col .card-body {
	/* position: relative; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* section --- */
@media all and (min-width: 800px) {
	.section {
		padding: 90px 0;
	}
}
@media all and (max-width: 800px) {
	.section {
		padding: 40px 0;
	}
	.disp-grid .col {
		width: 350px;
		margin: auto;
	}
}

/* ---------- ICONS */

.fa-heart {
	color: var(--danger);
}

.fa-file-download,
.fa-discord,
.linky {
	color: #fff;
}

.linky {
	margin: 15px;
}

.linky:hover {
	color: var(--danger);
}

/* links */

a {
	color: inherit;
}

.link-btn {
	width: 300px;
	position: relative;
}

.link-btn i {
	position: absolute;
	left: 20px;
	top: 11px;
}

/* titles */

#my-name,
#btn-hire,
div.creator {
	font-family: "Lobster", cursive, sans-serif;
}

#my-name {
	font-size: 2.1em;
}

h2.section-head {
	font-weight: 200;
	font-size: 2.5em;
	color: var(--color-grey);
}

h5.card-title {
	font-size: 1.8em;
}

#about h3 {
	font-weight: 400;
}

/* ---------- NAVBAR */

#navMain {
	margin-bottom: 0rem;
}

#navMain .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border: none;
}

#navMain button:focus {
	outline: none;
	color: rgba(0, 0, 0, 0.5);
}

#navMain .nav-link {
	font-size: 1.2em;
	padding-left: 50px;
	transition: color 0.6s;
}

#navMain .nav-link:hover {
	color: var(--bg-main-colored);
	font-weight: 500;
}

/* ---------- SHOWCASE */

#showcase {
	height: 99vh;
}

#showcase .jumbo-text {
	flex-grow: 2;
	width: 30%;
	padding: 0px var(--padding-around);
	color: #FFF;
}

#showcase .jumbo-img {
	flex-grow: 1;
}

#btn-hire {
	margin-top: var(--padding-around);
}

/* my picture */
#showcase .jumbo-img .img-wrapper {
	border-radius: 100%;
	width: 300px;
	height: 300px;
	background: url("./../images/my-pic.jpg") no-repeat center / cover;
}

@media all and (max-width: 800px) {
	#showcase {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	#showcase .jumbo-text {
		padding: 20px;
		width: 100%;
	}
	#showcase .jumbo-img {
		margin-bottom: 20px;
	}
	#showcase .jumbo-img .img-wrapper {
		width: 200px;
		height: 200px;
	}
}

/* ---------- PROJECTS */

#projects {
	padding: var(--padding-around);
	border-radius: 20px;
}

#projects #cards-container {
	padding: 50px 0px;
	margin: auto;
}

#projects .card {
	height: 100%;
}

#projects .card .card-titles {
	min-height: 25%;
}

#projects .card .card-link {
	color: var(--bg-main-colored);
}

/* ---------- ABOUT */

#about {
	padding-right: 0;
	padding-left: 0;
}

#about .section-head,
#about .experience {
	color: #fff;
}

#about .bg-main {
	border-radius: 20px;
}

#about .section-head,
#about .experience {
	padding-right: 27%;
}

#about .skills {
	margin-top: 50px;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", "Noto Sans", sans-serif;
}

#about .skills h3 {
	text-align: center;
}

#about .skills .disp-flex {
	padding: var(--padding-around);
	align-items: flex-start;
	justify-content: space-around;
	border-bottom: 1px grey solid;
}

@media all and (max-width: 800px) {
	#about .skills .disp-flex,
	#about h3 {
		flex-direction: column;
		align-items: center;
	}
}
/* about lists */

.list .item {
	list-style-type: none;
}

/* ---------- CONTACT */

#contact .contacts:first-of-type {
	margin-top: 50px;
}

#contact .contacts {
	width: fit-content;
	margin: var(--padding-around) 0;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.13) !important;
}

#contact .contacts #discord-link {
	color: #fff;
}

#contact .bg-discord {
	position: relative;
}

#contact .bg-discord:hover {
	background-color: #6176cc;
}

#contact #discord-id {
	border: 1px solid var(--color-discord);
	color: var(--color-discord);
}

#contact #discord-id:hover {
	color: #fff;
	background-color: var(--color-discord);
}

/* ---------- FOOTER */

#footer {
	height: 300px;
	text-align: center;
	color: #fff;
}

#footer .creator {
	margin-top: 30px;
}

/* ---------- BACK-TO-TOP BUTTON */

#back-to-top {
	position: fixed;
	bottom: 50px;
	left: 85%;
	display: none;
}

@media all and (max-width: 500px) {
	#back-to-top {
		bottom: 10px;
	}
}
