@import "./animations.css";
@import "./burger.css";
@import "./normalize.css";
@import "./mediaQueries.css";

/* ---------- FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

/* ---------- VARIABLES */
:root {
	--bg-main-color: #13125252;
	--links-color: rgb(118, 87, 255);
	--padding-around: 20px;
	--cursive-font: "Lobster", cursive, sans-serif;
	--cursive-font-light: "Lobster Two", cursive, sans-serif;
	--titles-font: "Oswald", sans-serif;
}

/* ---------- BACKGROUNDS */
.bg-main {
	background-color: var(--bg-main-color);
	color: whitesmoke;
}

.bg-radient {
	background: radial-gradient(
		circle,
		rgba(78, 63, 251, 1) 0%,
		rgba(59, 8, 18, 1) 100%
	);
}

/* ---------- DISPLAYS */

/* flex --- */
.disp-flex {
	display: flex;
	align-items: center;
}

.disp-col {
	flex-direction: column;
}

.disp-centered {
	justify-content: center;
}

.text-centered {
	text-align: center;
}

/* section --- */
.padding-main {
	padding: 30px var(--padding-around) 100px;
}

/* ---------- GENERAL */

/* links */
a {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

/* titles and fonts */
#my-name,
#btn-hire,
div.creator {
	font-family: var(--cursive-font);
}

#my-name {
	color: #43217b;
	font-size: 2.1em;
}

h2.section-head {
	font-weight: 200;
	font-size: 2.5em;
	color: #fff;
	font-family: var(--titles-font);
	border-bottom: 1px solid rgb(145, 23, 245);
	width: fit-content;
	padding-bottom: 8px;
}

#about .skills h3 {
	font-weight: 300;
	font-family: var(--titles-font);
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.349);
	width: fit-content;
	margin: auto;
	padding-bottom: 8px;
}

/* ---------- NAVBAR */

#navMain {
	margin-bottom: 0rem;
}

#navMain .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border: none;
}

#navMain button:focus {
	outline: none;
	color: rgba(0, 0, 0, 0.5);
}

#navMain .nav-link {
	font-size: 1.2em;
	padding-left: 50px;
	transition: color 0.6s;
}

#navMain .nav-link:hover {
	color: var(--bg-main-color);
	font-weight: 500;
}

/* ---------- SHOWCASE */

#showcase {
	height: 89vh;
}

#showcase .jumbo-text {
	flex-grow: 2;
	width: 30%;
	padding: 0px var(--padding-around);
	color: #fff;
}

#showcase .jumbo-img {
	flex-grow: 1;
}

#btn-hire {
	margin-top: var(--padding-around);
}

/* my picture */
#showcase .jumbo-img .img-wrapper {
	border-radius: 100%;
	width: 300px;
	height: 300px;
	background: url("./../images/my-pic.jpg") no-repeat center / cover;
}

/* ---------- PROJECTS */

.disp-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 40px;
}

#projects {
	padding: var(--padding-around);
	border-radius: 2px;
}

#projects #cards-container {
	padding: 50px 0px;
	margin: auto;
}

#projects .col {
	padding: 0;
	position: relative;
	overflow: hidden;
	box-shadow: 1px 1px 5px rgb(46, 46, 46);
}

#projects .col .project-img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

#projects .col .project-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	bottom: -100%;
	width: 100%;
	height: 100%;
}

#projects .col:hover .project-img {
	opacity: 0.2;
}

#projects .col:hover .project-content {
	top: 0px;
	color: white;
	padding: 6% 9%;
	text-align: center;
	animation: appearing 0.7s;
}

.project-name {
	font-size: 1.6em;
	font-family: var(--titles-font);
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.project-subtitle {
	border-bottom: 1px solid rgba(255, 255, 255, 0.342);
	justify-content: space-between;
	font-size: 13px;
	padding: 0;
}

.project-date {
	font-weight: bold;
}

.project-description {
	font-size: 1.2em;
	font-weight: bold;
}

.project-tags {
	font-size: 0.9em;
	letter-spacing: 1px;
	word-spacing: 5px;
	line-height: 1.1em;
}

.project-links {
	justify-content: space-around;
}
.project-links a {
	color: #fff;
	font-weight: bold;
	padding: 2px 10px;
	min-width: 120px;
	text-align: center;
	border-radius: 2px;
	border: 1px solid rgba(255, 255, 255, 0.342);
}
.project-links a:hover {
	color: var(--links-color);
	background-color: #fff;
	text-decoration: none;
}

#projects p {
	margin-bottom: 4px;
}

/* ---------- ABOUT */

#about {
	padding-right: 0;
	padding-left: 0;
}

#about .section-head,
#about .experience {
	color: #fff;
}

#about .bg-main {
	border-radius: 10px;
}

#about .experience {
	padding-right: 27%;
}

#about .skills {
	margin-top: 50px;
	text-align: center;
}

#about .skills > div.disp-flex {
	padding: var(--padding-around);
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 20px;
}

/* about list items */

.technologies .list,
.tools .list {
	width: 230px;
	flex-flow: wrap;
	align-content: center;
	justify-content: center;
}

.list .item {
	list-style-type: none;
	border-radius: 2px;
	width: fit-content;
	padding: 0px 15px;
	margin: 9px;
	color: #fff;
	font-size: 13px;
}

.skills h4 {
	font-size: 16px;
}

.skills h4 {
	font-size: 16px;
}
.front-end h4 {
	color: rgb(132, 208, 243);
}
.front-end .list .item {
	background-color: rgb(82, 168, 248);
	box-shadow: -9px 4px 0 rgb(132, 208, 243);
}
.back-end h4 {
	color: rgb(247, 194, 82);
}
.back-end .list .item {
	background-color: rgb(241, 153, 21);
	box-shadow: -4px 3px 0 rgb(247, 194, 82);
}
.workflow h4 {
	color: rgb(130, 224, 67);
}
.workflow .list .item {
	background-color: rgb(87, 187, 21);
	box-shadow: 4px 4px 0 rgb(130, 224, 67);
}
.prototyping h4 {
	color: rgb(247, 120, 183);
}
.prototyping .list .item {
	background-color: rgb(247, 120, 183);
	box-shadow: 10px 6px 0 rgb(224, 67, 145);
}

/* ---------- CONTACT */

#contact {
	/* background-color: #170e1f; */
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	margin-top: 100px;
}

#contact .contacts {
	font-size: 20px;
	text-align: center;
}

#contact .contacts .section-head {
	margin-bottom: 50px;
}

#contact .contacts .contact {
	width: 100%;
	height: 60px;
	line-height: 60px;
}

#contact .contacts .contact a {
	color: var(--links-color);
	text-decoration: none;
}

#contact .contacts .contact a:hover {
	font-size: 23px;
}

.contact.hidding {
	position: relative;
}

.contact-hidden {
	position: absolute;
	left: -100%;
	font-size: 15px;
	line-height: 16px;
	width: 100%;
	visibility: hidden;
}

.contact.hidding:hover span {
	visibility: hidden;
}

.contact.hidding:hover .contact-hidden {
	left: 0;
	top: 0;
	animation-name: growing-sliding;
	animation-duration: 0.5s;
	color: var(--links-color);
	height: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	visibility: visible;
}

/* ---------- FOOTER */

#footer {
	height: 200px;
	text-align: center;
	color: #43217b;
	background-color: #f8f9fa;
}

#footer div {
	margin: 5px;
}

#footer div:last-of-type a {
	color: #43217b;
	font-size: 12px;
}
#footer div:last-of-type a:hover {
	color: var(--links-color);
}

/* icons */
.fa-heart {
	color: var(--danger);
}

.linky {
	color: #43217b;
}

.linky {
	margin: 18px;
}

.linky:hover {
	color: var(--links-color);
}

/* ---------- BACK-TO-TOP BUTTON */

#back-to-top {
	position: fixed;
	bottom: 50px;
	left: 85%;
	display: none;
}
