@import "./animations.css";
@import "./burger.css";

/* ---------- FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* ---------- VARIABLES */
:root {
	--bg-main-colored: #3333cc;
	--color-react: #61dafb;
	--color-discord: #7289da;
	--color-grey: #414141;
	--padding-around: 20px;
}

/* ---------- GENERAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.padding-main {
	padding: 100px var(--padding-around) 20px;
}

/* ---------- BACKGROUNDS */
.bg-main {
	background-color: var(--bg-main-colored);
	color: whitesmoke;
}
.bg-discord {
	background-color: var(--color-discord);
	width: fit-content;
	border-radius: 4px;
}

/* ---------- DISPLAYS */
/* flex --- */
.disp-flex {
	display: flex;
	align-items: center;
}
.disp-col {
	flex-direction: column;
}
.disp-centered {
	justify-content: center;
}
.text-centered {
	text-align: center;
}
/* grid --- */
.disp-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 50px;
}
.disp-grid .col {
	padding: 0;
}

/* section --- */
@media all and (min-width: 800px) {
	.section {
		padding: 70px 0;
	}
}

/* ---------- ICONS */
.fa-heart {
	color: var(--danger);
}
.fa-file-download,
.fa-discord,
.linky {
	color: #fff;
}
.linky {
	margin: 15px;
}

.linky:hover {
	color: var(--danger);
}

/* links */
a {
	color: inherit;
}

.link-btn {
	width: 300px;
	position: relative;
}

.link-btn i {
	position: absolute;
	left: 20px;
	top: 11px;
}

/* titles */
#my-name,
#btn-hire,
div.creator {
	font-family: "Lobster", cursive;
}

h2.section-head {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", "Noto Sans", sans-serif;
	font-weight: 300;
	font-size: 2.5em;
	color: var(--color-grey);
}

#about h3 {
	font-weight: 400;
}

/* ---------- NAVBAR */
#navMain {
	margin-bottom: 0rem;
}
#navMain .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border: none;
}

#navMain button:focus {
	outline: none;
	color: rgba(0, 0, 0, 0.5);
}

/* ---------- SHOWCASE */
#showcase .jumbo-text {
	flex-grow: 2;
	width: 50%;
	padding: 0px var(--padding-around);
}

#showcase .jumbo-img {
	flex-grow: 1;
}

/* my picture */
#showcase .jumbo-img .img-wrapper {
	border-radius: 100%;
	width: 300px;
	height: 300px;
	background: url("./../images/Audrey\ B.jpg") no-repeat center / cover;
}

@media all and (max-width: 800px) {
	#showcase {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	#showcase .jumbo-text {
		padding: 20px;
		width: 100%;
	}
	#showcase .jumbo-img {
		margin-bottom: 20px;
	}
	#showcase .jumbo-img .img-wrapper {
		width: 200px;
		height: 200px;
	}
}

/* ---------- PROJECTS */
#projects {
	padding: 0;
}
#projects #cards-container {
	padding: 50px 0px;
	margin: auto;
}
#projects .card {
	height: 100%;
}
#projects .card .card-titles {
	min-height: 25%;
}
#projects .card .card-link {
	color: var(--bg-main-colored);
}

/* ---------- ABOUT */
#about {
	padding-right: 0;
	padding-left: 0;
}
#about h3 {
	text-align: center;
}
#about .section-head,
#about .experience {
	color: #fff;
}
#about .bg-main {
	border-radius: 20px;
}
#about .section-head,
#about .experience {
	padding-right: 27%;
}
#about .skills {
	margin-top: 50px;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", "Noto Sans", sans-serif;
}
#about .skills .disp-flex {
	padding: var(--padding-around);
	align-items: flex-start;
	justify-content: space-around;
	border-bottom: 1px grey solid;
}
@media all and (max-width: 800px) {
	#about .skills .disp-flex,
	#about h3 {
		flex-direction: column;
		align-items: center;
	}
}
/* about lists */
.list .item {
	list-style-type: none;
}

/* ---------- CONTACT */
#contact .contacts:first-of-type {
	margin-top: 50px;
}
#contact .contacts {
	width: fit-content;
	margin: var(--padding-around) 0;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.13) !important;
}
.contacts a {
	height: 50px;
}
#contact .contacts #discord-link {
	color: #fff;
}
#contact .bg-discord {
	position: relative;
}
#contact .bg-discord:hover {
	background-color: #6176cc;
}
#contact #discord-id {
	position: absolute;
	border: 1px solid var(--color-discord);
	color: var(--color-discord);
}
#contact #discord-id:hover {
	color: #fff;
	background-color: var(--color-discord);
}

/* ---------- FOOTER */
#footer {
	height: 300px;
	text-align: center;
	margin-top: 3%;
	color: whitesmoke;
}

/* ---------- BACK-TO-TOP BUTTON */
.back-to-top {
	position: fixed;
	bottom: 25px;
	right: 25px;
	display: none;
}
