/* ---------- FONTS */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* titles */
#my-name,
#btn-hire,
div.creator {
	font-family: "Lobster", cursive;
}

h1.title {
}

h2.subtitle {
}

h3.section-head {
}

p.head {
}

/* ---------- VARIABLES -- colors */
:root {
	--bg-purple: #3333cc;
	--bg-green: ;
	--color-react: #61dafb;
	--color-discord: #7289da;
	--color-grey: #2c2c2c;
}

/* bootstrap colors :
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40; 
*/

/* ---------- GENERAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ---------- BACKGROUNDS */
.bg-purple {
	background-color: var(--bg-purple);
	color: whitesmoke;
}
.bg-discord {
	background-color: var(--color-discord);
	width: fit-content;
	border-radius: 4px;
}
/* ---------- DISPLAYS */
/* flex --- */
.disp-flex {
	display: flex;
	align-items: center;
}
.disp-col {
	flex-direction: column;
}
.disp-centered {
	justify-content: center;
}
.text-centered {
	text-align: center;
}
/* grid --- */
.disp-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 10px;
}
.disp-grid .col {
	padding: 0;
}
.disp-grid .col .card {
	width: 290px;
}
.disp-grid .col .card.id3 {
	width: 400px;
}
.disp-grid .col .card.id2 {
	width: 350px;
}

/* ---------- ICONS */
.fa-times {
	color: #fff;
}
.fa-heart {
	color: var(--danger);
}

.fa-file-download,
.fa-discord {
	color: #fff;
}

/* links */
a {
	color: inherit;
}

.link-btn {
	width: 300px;
	position: relative;
}

.link-btn i {
	position: absolute;
	left: 20px;
	top: 11px;
}

/* lists */
.list .item {
	list-style-type: none;
}

/* ---------- NAVBAR */
#navMain .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border: none;
}

#navMain button:focus {
	outline: none;
	color: rgba(0, 0, 0, 0.5);
}
.navbar-toggler > .close {
	display: inline;
	color: #fff;
}
.navbar-toggler.collapsed > .close,
.navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
	display: none;
}

/* ---------- CONTACT */
.contacts #discord-link {
	color: #fff;
}
.contacts.bg-discord {
	position: relative;
}
.contacts.bg-discord:hover {
	background-color: #6a7eca;
}
#discord-id {
	/* TODO: AJOUTER UNE ANIMATION DE DEPLI */
	position: absolute;
	border: 1px solid var(--color-discord);
	color: var(--color-discord);
}
#discord-id:hover {
	color: #fff;
	background-color: var(--color-discord);
}

#collapseMsg {
}

/* ---------- FOOTER */
#footer {
	height: 300px;
	text-align: center;
	margin-top: 3%;
	color: whitesmoke;
}

/* ---------- BACK-TO-TOP BUTTON */
.back-to-top {
	position: fixed;
	bottom: 25px;
	right: 25px;
	display: none;
}

/* ---------- ANIMATIONS */

.slide-right {
	-webkit-animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
	0% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	100% {
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
	}
}
